    @font-face {
        font-family: "roboto";
        src: url('../fonts/Roboto-Regular.ttf');
    }
    
    @font-face {
        font-family: "SourceCodePro";
        src: url('../fonts/SourceCodePro-Regular.ttf');
    }
    
    html {
        --rouge: #ff0000;
        --vert: #00ff73;
        --orange: #d24623;
        --orange-alpha: rgb(210, 70, 35, 0.5);
        --blanc: #ffffff;
        --gris: #727272;
    }
    
    body {
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        background-image: url("../images/11.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "roboto";
    }
    
    a {
        text-decoration: none;
    }
    
    p {
        color: var(--blanc);
    }
    
    .display-none {
        display: none;
    }
    
    .main__footer--flex {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .container__central--flex--style {
        width: 70%;
    }
    /*------header------*/
    
    .header_logo_size {
        width: 11%;
        padding: 1em;
    }
    
    .header_flex_style {
        z-index: 1;
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-top: solid var(--orange-alpha)0.2em;
        border-bottom: solid var(--orange-alpha) 0.2em;
        box-shadow: 5px 5px 10px var(--orange-alpha);
        color: var(--blanc);
        background: rgb(27, 26, 26);
    }
    
    .header_div_flex--style {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .header__nav__div--flex--style {
        width: 45%;
        background-color: var(--orange-alpha);
        border-radius: 10px;
        text-align: center;
        padding: 0.5em;
        font-size: 1.2em;
    }
    
    .header_lien--flex {
        width: 25%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 1em;
    }
    
    .header_lien--style {
        color: var(--blanc);
        font-size: 1.2em;
    }
    /*-----main------*/
    
    .icon--style {
        color: var(--blanc);
    }
    
    .icon--style:hover {
        color: var(--orange-alpha);
    }
    
    .icon--style:active {
        color: var(--gris);
    }
    
    .main--flex--style {
        width: 100%;
        align-items: center;
        color: var(--blanc);
    }
    
    .main__div__icon--flex {
        width: 25%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .container__index__icons--flex--style {
        z-index: 1;
        width: 100%;
        position: fixed;
        top: 4.5em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .main_h2--style {
        font-size: 2em;
    }
    
    .main_div1--flex--style {
        position: fixed;
        top: 15em;
        left: 2em;
        width: 15%;
        font-size: 1.5em;
    }
    
    .main_div2--flex--style {
        z-index: 0;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15em;
        border: solid 1px var(--orange-alpha);
        border-radius: 10px;
        padding: 1em;
        font-size: 1.5em;
        background-color: rgb(27, 26, 26);
        font-family: "SourceCodePro";
        margin-bottom: 3em;
    }
    
    .article_1__p--style {
        color: var(--orange);
    }
    
    .article__tech--flex {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 0em;
    }
    
    .article____contenaire__tech--flex {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-bottom: solid 1px var(--gris);
        padding-bottom: 1.5em;
    }
    
    .article__h2--style {
        border-top: solid 1px var(--gris);
        border-bottom: solid 1px var(--gris);
    }
    
    .article__h3--style {
        color: var(--gris);
    }
    
    .fa-envira {
        color: #599736;
    }
    
    .fa-database {
        color: #3399db;
    }
    
    .fa-node-js {
        color: #83cd29;
    }
    
    .fa-vuejs {
        color: #49d191;
    }
    
    .fa-js-square {
        color: #f6df25;
    }
    
    .fa-css3-alt {
        color: #2a65f1;
    }
    
    .fa-html5 {
        color: #e85d25;
    }
    
    .fa-times-circle {
        display: flex;
        align-self: end;
        color: var(--blanc);
    }
    
    .fa-times-circle:hover {
        color: var(--orange-alpha);
    }
    
    .fa-times-circle:active {
        color: var(--gris);
    }
    
    .animation_display {
        animation: display1 0.3s forwards;
    }
    
    @keyframes display1 {
        from {
            transform: translate(-100em);
        }
        to {
            transform: translate(0);
        }
    }
    
    .animation_hide {
        animation: display2 0.5s forwards;
    }
    
    @keyframes display2 {
        from {
            transform: translate(0);
        }
        to {
            transform: translate(-100em);
        }
    }
    
    .main__article--flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3em;
    }
    
    .main__div__p--style {
        background-color: var(--orange-alpha);
        text-align: center;
        color: var(--blanc);
        border: dotted 1px rgb(27, 26, 26);
    }
    
    .main__div__p--style:hover {
        transition: 0.3s;
        background-color: transparent;
        cursor: pointer;
        color: var(--orange);
    }
    
    .border--style-1 {
        border-radius: 10px 10px 0 0;
    }
    
    .border--style-2 {
        border-radius: 0 0 10px 10px;
    }
    
    .border__radius--bottom--div1 {
        transition: 0.3s;
        border-radius: 10px 10px 40px 0;
    }
    
    .border__radius--bottom {
        transition: 0.3s;
        border-radius: 0 0 40px 0;
    }
    
    .border__radius--top--div2 {
        transition: 0.3s;
        border-radius: 0 40px 10px 10px;
    }
    
    .border__radius--top {
        transition: 0.2s;
        border-radius: 0 40px 0 0;
    }
    
    #article_1,
    #article_2,
    #article_3,
    #article_4 {
        background-color: rgb(27, 26, 26);
        border-radius: 10px;
        box-shadow: 5px 5px 5px var(--orange);
    }
    /*-----footer-----*/
    /*-----page contact----*/
    
    .main_contact--flex--style {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--blanc);
        padding-top: 10em;
        padding-bottom: 10em;
    }
    
    .main_contact--flex {
        width: 35%;
        display: flex;
        flex-direction: column;
    }
    
    .main_contact_label--style {
        font-size: 1em;
        border-radius: 5px;
    }
    
    .main_contact_input--style {
        padding: 0.3em;
        font-size: 1em;
        border-radius: 5px;
    }
    
    .main_contact_btn_form--style {
        background-color: var(--orange);
        padding: 0.3em;
        font-size: 1em;
        border-radius: 5px;
    }
    
    .main_contact_text--style {
        border-radius: 5px;
        font-size: 1em;
        font-family: sans-serif;
        padding: 0.5em;
    }
    /*-----page nos crétions----*/
    
    .main--flex--style-2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--blanc);
        padding-top: 10em;
    }
    
    .main_div_article--flex--style {
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    /*----slide-----*/
    
    .main_creation_article--seize--flex {
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid 2px var(--orange);
        border-radius: 10px;
        padding: 1em;
        margin: 1em;
        background-color: rgb(27, 26, 26);
    }
    
    .main_article_img-seize-flex {
        width: 90%;
        height: auto;
    }
    
    .creation_main_btn--style {
        font-size: 1.5em;
        border-radius: 5px;
        background-color: var(--orange);
        color: var(--blanc);
        padding: 0.2em;
        margin-top: 0.5em;
    }
    
    .amin_1 {
        animation: hide1 1s forwards;
    }
    
    .amin_2 {
        animation: hide2 1s forwards;
    }
    
    @keyframes hide1 {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(0);
        }
    }
    
    @keyframes hide2 {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }
    /*hover*/
    
    .hover:hover {
        cursor: pointer;
        color: rgb(27, 26, 26);
    }
    
    .hover2:hover {
        cursor: pointer;
        color: var(--orange);
    }
    /*active*/
    
    .hover:active {
        color: var(--gris);
    }
    
    .hover2:active {
        color: var(--gris);
    }